.header__title {
  margin: 11px auto auto 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
}
.footer__active {
  font-size: 18px;
  line-height: 21px;
  width: 138px;
  margin: 17px 0px 17px 21px;
}
footer {
  display: flex;
}
.footer__finished {
  font-size: 18px;
  line-height: 21px;
  margin: 17px auto 17px 36px;
}
.footer__avtor_information {
  font-size: 18px;
  line-height: 21px;
  margin: 17px 19px 17px auto;
}
.header__user_menu {
  display: flex;
  margin-top: 7px;
  align-items: center;
  gap: 6px;
  margin-right: 16px;
  margin-bottom: 8px;
}
