html body {
  font-family: "Roboto";
  width: 100%;
  margin: auto;
}
header {
  background-color: #0067a3;
  height: 55px;
  display: flex;
}
main {
  background-color: #0079bf;
  display: flex;
  justify-content: center;
  gap: 24px;
  height: calc(100vh - (110px));
  align-items: flex-start;
}
footer {
  height: 55px;
  color: #ffffff;
  background-color: #0067a3;
}
@font-face {
  font-family: "Roboto";
  src: url(/src/fonts/Roboto-Regular.woff);
}
